@font-face {
  font-family: "Roboto";
  src: url("../assets/police/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-R";
  src: url("../assets/police/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-S";
  src: url("../assets/police/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../assets/police/shrikhand/Shrikhand-Regular.otf") format("opentype");
}
.title {
  font-family: "Shrikhand", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: medium;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.btn {
  border-radius: 40px;
  padding: 1rem 0rem;
  text-align: center;
  margin: auto;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: medium;
  text-shadow: #737272 1px 2px 2px;
  border: none;
  box-shadow: #bdbdbd 2px 2px 4px;
  transition: all 200ms;
  width: 65%;
  max-width: 350px;
}
.btn a {
  color: white;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: #353535 2px 2px 10px;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
header img {
  width: 40%;
  max-width: 350px;
}

footer {
  background-color: #353535;
  color: white;
  margin-top: -30px;
  padding-bottom: 2rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
footer ul {
  margin-left: -20px;
}
footer .footer_list {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  max-height: 26px;
  list-style: none;
}
footer .footer_list span {
  margin-right: 3%;
  font-size: medium;
}
footer .footer_list a {
  color: white;
}
footer h3 {
  margin-left: 5%;
  padding-top: 5%;
}

@keyframes loader_time {
  from {
    z-index: 1;
    opacity: 0.8;
  }
  to {
    z-index: 1;
    opacity: 0.8;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  background-color: #fbf8f8;
  animation: loader_time 2s ease-in-out;
}
#wrapper .loader {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 10px solid #9356DC;
  border-radius: 50%;
}
#wrapper .loader:nth-child(1) {
  background-color: #9356DC;
  animation: loader 1s linear infinite;
}
#wrapper .loader:nth-child(2) {
  border-color: #FF79DA;
  animation: loader 1s linear infinite;
}
#wrapper .loader:nth-child(3) {
  border-color: #99E2D0;
  animation: loader 700ms linear;
}

#top {
  background-color: #fbf8f8;
  max-height: 400px;
  text-align: center;
}

#logo_caption {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eae6e6;
  padding: 2px;
  box-shadow: inset 0px 3px 6px 0px #cfcccc;
  margin-bottom: 8%;
}
#logo_caption .location_dot {
  text-indent: -1.2rem;
}

.intro {
  font-size: 1.2rem;
  padding-bottom: 5rem;
  margin: 1.1rem;
}
.intro p {
  color: #737272;
  font-family: "Roboto-R";
  margin-bottom: 2rem;
}

#functions {
  margin-top: 10%;
}
#functions h2 {
  margin-left: 5%;
}

.list {
  display: flex;
  flex-direction: column;
}
.list .functions_list {
  list-style: none;
  background-color: #fbf8f8;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
  padding: 5px 20px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 5%;
  border-radius: 20px;
}
.list .functions_list:hover {
  transition: all 250ms;
  box-shadow: #353535 2px 2px 10px;
}
.list .functions_list .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 13%;
  cursor: pointer;
}
.list .functions_list .list_item:hover > span {
  opacity: 1;
  color: #9356DC;
}
.list .functions_list .list_item .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 20px;
  background-color: #9356DC;
  color: #f6f5f5;
  font-size: medium;
}
.list .functions_list .list_item span {
  opacity: 0.5;
}

#resto {
  background-color: #fbf8f8;
  padding-top: 10%;
  margin-top: 8%;
}
#resto h2 {
  margin-left: 7%;
  margin-bottom: 0;
}
#resto #cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
#resto #cards a > figure {
  background-color: white;
  width: 90%;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
}
#resto #cards a > figure:hover {
  transition: opacity 250ms;
  transition: box-shadow 250ms;
  opacity: 0.9;
  box-shadow: #353535 2px 2px 10px;
}
#resto #cards a > figure .alert {
  position: absolute;
  width: 20%;
  height: 1.6rem;
  border-radius: 4px;
  left: 68%;
  margin-top: 3%;
  text-align: center;
  padding-top: 2%;
  background-color: #99E2D0;
  color: #278870;
  font-size: 1rem;
}
#resto #cards a > figure figcaption {
  margin-left: 3%;
  position: relative;
  top: -10px;
}
#resto #cards a > figure figcaption p {
  font-family: "Roboto-S";
  margin-top: -15px;
  margin-bottom: 5px;
}
#resto #cards a > figure img {
  height: 210px;
  object-fit: cover;
  object-position: 37% 63%;
  border-radius: 20px 20px 0px 0px;
}

.heart_full {
  opacity: 0;
  color: #dc56c1;
}

.heart_full:hover {
  opacity: 1;
  transition: all 300ms;
}

.heart, .heart_full {
  position: absolute;
  right: 7%;
  margin-top: 2%;
  font-size: x-large;
}
.heart i, .heart_full i {
  width: 2rem;
}

@media screen and (min-width: 768px) {
  header .arrow {
    font-size: xx-large;
  }

  #banniere {
    margin-top: 1rem;
  }

  #top #logo_caption {
    margin-bottom: 5%;
  }
  #top article {
    opacity: 0.6;
    color: white;
    background-color: #353535;
    width: 100%;
  }
  #top article p {
    color: white;
  }

  #functions {
    margin-top: 0;
  }
  #functions ol {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #menu {
    max-width: 85%;
    margin: auto;
  }

  #resto {
    margin-top: 0;
    padding-top: 3%;
  }
  #resto #cards {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #resto #cards a > figure {
    min-width: 280px;
    max-width: 280px;
    width: 100%;
  }
  #resto #cards a > figure .alert {
    visibility: collapse;
  }

  footer > h3 {
    text-align: center;
    font-size: x-large;
  }
  footer > ul {
    display: flex;
    justify-content: space-around;
    font-size: large;
  }
}
@keyframes menu_scroll {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
  }
}
img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.arrow {
  position: absolute;
  left: 1.5rem;
  font-size: large;
}

#logo_menu {
  height: 2.5rem;
}
#logo_menu figure {
  height: 2rem;
  margin: auto;
}

#header_menu {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
#header_menu .heart, #header_menu .heart_full {
  margin-top: -3%;
}
#header_menu .heart_full {
  margin-right: 0.6px;
}
#header_menu .heart {
  margin-right: 0.5px;
}

#menu {
  position: relative;
  bottom: 3rem;
  background-color: #fbf8f8;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding-bottom: 6rem;
  margin-bottom: -4.2rem;
}
#menu .btn {
  width: 50%;
  margin-bottom: -3rem;
  margin-top: 2rem;
}
#menu h2 {
  margin-left: 1rem;
  opacity: 0.7;
  font-size: large;
  font-weight: lighter;
  font-family: "Roboto-R";
  border-bottom: 4px solid #99E2D0;
  width: 3rem;
  padding-bottom: 0.6rem;
}
#menu ol {
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
#menu ol li {
  max-width: 400px;
  width: 100%;
  padding: 0px 0px 0px 10px;
  background-color: white;
  margin-left: -1.5rem;
  animation: menu_scroll 400ms ease-in;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
#menu ol li:nth-child(1) {
  animation-delay: 300ms;
}
#menu ol li:nth-child(2) {
  animation-delay: 600ms;
}
#menu ol li:nth-child(3) {
  animation-delay: 800ms;
}
#menu ol li .items {
  width: auto;
  overflow: hidden;
  border-radius: 20px;
}
#menu ol li .items:hover > .caption > .anima > .check {
  transform: translateX(0);
  border-radius: 0 20px 20px 0;
  transition: transform 600ms, margin 600ms ease-out;
  margin-left: 2.5rem;
}
#menu ol li .items:hover > .caption > .anima > .check > .check_icon {
  transform: rotate(360deg);
  transition: transform 600ms;
}
#menu ol li .items h3 {
  margin: 1rem 0 -0.8rem;
  font-weight: 400;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu ol li .items .check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  margin-top: -1.7rem;
  background-color: #99E2D0;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateX(105%);
  transition: transform 400ms;
}
#menu ol li .items .check .check_icon {
  font-size: larger;
  padding: 2px 6px;
  color: #99E2D0;
  border-radius: 40px;
  background-color: white;
}
#menu ol li .caption {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
#menu ol li .caption .anima {
  display: flex;
  justify-content: flex-end;
}
#menu ol li .caption p:not(.prix) {
  font-family: "Roboto-S";
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu ol li .caption .prix {
  margin-right: -2rem;
}

/*# sourceMappingURL=style.css.map */
