@font-face {
  font-family: "Roboto";
  src: url("../../roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-R";
  src: url("../../roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-S";
  src: url("../../roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../shrikhand/Shrikhand-Regular.otf") format("opentype");
}
body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: medium;
  font-weight: 400;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.btn {
  border-radius: 40px;
  padding: 1rem 0rem;
  text-align: center;
  margin: auto;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: medium;
  text-shadow: #737272;
  border: none;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
  transition: all 200ms;
  width: 70%;
}
.btn a {
  color: white;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: #353535 2px 2px 10px;
}

header {
  text-align: center;
  margin-top: 2%;
}
header img {
  width: 45%;
}

.title {
  font-family: "Shrikhand", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

footer {
  background-color: #353535;
  color: white;
  margin-top: -25px;
  padding-bottom: 7%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
footer ul {
  margin-left: -20px;
}
footer .footer_list {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  max-height: 26px;
  list-style: none;
}
footer .footer_list span {
  margin-right: 3%;
  font-size: medium;
}
footer .footer_list a {
  color: white;
}
footer h3 {
  margin-left: 5%;
  padding-top: 5%;
}

#top {
  background-color: #f6f5f5;
  max-height: 500px;
  text-align: center;
  margin-top: 2%;
}

#logo_caption {
  display: flex;
  justify-content: center;
  background-color: #e9e5e5;
  padding: 2px;
  box-shadow: inset 0px 3px 6px 0px #cfcccc;
  margin-bottom: 8%;
  margin-top: 2%;
}
#logo_caption .location_dot {
  position: relative;
  right: 2rem;
  top: 1.1rem;
}

.intro {
  font-size: 1.2rem;
  padding-bottom: 5rem;
  margin: 1.1rem;
}
.intro p {
  color: #737272;
  font-family: "Roboto-R";
  margin-bottom: 2rem;
}

#functions {
  margin-top: 10%;
}
#functions h2 {
  margin-left: 5%;
}

.list {
  display: flex;
  flex-direction: column;
}
.list .functions_list {
  list-style: none;
  background-color: #f6f5f5;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
  padding: 5px 25px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 5%;
  border-radius: 20px;
}
.list .functions_list:hover {
  transition: all 250ms;
  opacity: 0.9;
  box-shadow: #353535 2px 2px 10px;
}
.list .functions_list .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 13%;
  cursor: pointer;
}
.list .functions_list .list_item:hover {
  color: #9356DC;
}
.list .functions_list .list_item .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 20px;
  background-color: #9356DC;
  color: #f6f5f5;
  font-size: medium;
}
.list .functions_list .list_item span {
  opacity: 0.5;
}

#resto {
  background-color: #f6f5f5;
  padding-top: 10%;
  margin-top: 8%;
}
#resto h2 {
  margin-left: 7%;
  margin-bottom: 0;
}
#resto #cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
#resto #cards figure {
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
}
#resto #cards figure:hover {
  transition: opacity 250ms;
  transition: box-shadow 250ms;
  opacity: 0.9;
  box-shadow: #353535 2px 2px 10px;
}
#resto #cards figure .alert {
  width: 20%;
  height: 1.6rem;
  border-radius: 4px;
  position: absolute;
  left: 68%;
  margin-top: 3%;
  text-align: center;
  padding-top: 2%;
  background-color: #99E2D0;
  color: #278870;
  font-size: 1rem;
}
#resto #cards figure figcaption {
  margin-left: 3%;
  position: relative;
  top: -10px;
}
#resto #cards figure figcaption .heart {
  position: absolute;
  right: 7%;
  margin-top: 2%;
  font-size: x-large;
}
#resto #cards figure figcaption .heart i:hover {
  color: #9356DC;
}
#resto #cards figure figcaption p {
  font-family: "Roboto-S";
  margin-top: -15px;
  margin-bottom: 5px;
}
#resto #cards figure img {
  height: 210px;
  object-fit: cover;
  object-position: 37% 63%;
  border-radius: 20px 20px 0px 0px;
}

@media screen and (min-width: 768px) {
  #functions {
    margin-top: 0;
  }
  #functions ol {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #resto {
    margin-top: 0;
    padding-top: 3%;
  }
  #resto #cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #resto #cards figure {
    min-width: 280px;
    max-width: 290px;
    width: 100%;
  }
  #resto #cards figure .alert {
    display: none;
  }

  #top article {
    color: white;
    background-color: #353535;
    opacity: 0.8;
    width: 100%;
  }
  #top article p {
    color: white;
  }

  .btn {
    width: 20%;
  }

  footer {
    padding-bottom: 2rem;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-R";
  src: url("../../roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-S";
  src: url("../../roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../shrikhand/Shrikhand-Regular.otf") format("opentype");
}
body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: medium;
  font-weight: 400;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.btn {
  border-radius: 40px;
  padding: 1rem 0rem;
  text-align: center;
  margin: auto;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: medium;
  text-shadow: #737272;
  border: none;
  box-shadow: #bdbdbd 2px 2px 4px 1px;
  transition: all 200ms;
  width: 70%;
}
.btn a {
  color: white;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: #353535 2px 2px 10px;
}

header {
  text-align: center;
  margin-top: 2%;
}
header img {
  width: 45%;
}

.title {
  font-family: "Shrikhand", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

footer {
  background-color: #353535;
  color: white;
  margin-top: -25px;
  padding-bottom: 7%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
footer ul {
  margin-left: -20px;
}
footer .footer_list {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  max-height: 26px;
  list-style: none;
}
footer .footer_list span {
  margin-right: 3%;
  font-size: medium;
}
footer .footer_list a {
  color: white;
}
footer h3 {
  margin-left: 5%;
  padding-top: 5%;
}

img {
  width: 100%;
}

#logo_menu figure {
  margin: 0.5rem;
}

#header_menu {
  bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 2rem;
}
#header_menu .heart {
  font-size: x-large;
}

#menu {
  position: relative;
  top: -2.6rem;
  background-color: #f6f5f5;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding-bottom: 3rem;
  margin-bottom: -3.7rem;
}
#menu .btn {
  width: 50%;
}
#menu h2 {
  margin-left: 1rem;
  opacity: 0.7;
  font-size: large;
  font-weight: lighter;
  font-family: "Roboto-R";
  border-bottom: 4px solid #99E2D0;
  width: 3rem;
  padding-bottom: 0.6rem;
}
#menu ol {
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -2rem;
}
#menu ol li {
  width: 100%;
  padding: 0px 30px 0px 10px;
  background-color: white;
}
#menu ol li h3 {
  margin: 1rem 0 -0.8rem;
  font-weight: 400;
}
#menu ol li .caption {
  display: flex;
  justify-content: space-between;
}
#menu ol li .caption p:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto-S";
}

/*# sourceMappingURL=style.css.map */
