@import "../utils/variables";
@import "../base/font";
@import "../components/button";
@import "../layout/header";
@import "../layout/footer";

@keyframes menu_scroll {
    from{
        opacity: 0;
        margin-top: -10px;
    }
    to{
        opacity: 1;
    }
}
img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}
.arrow{
    position: absolute;
    left: 1.5rem;
    font-size: large;
}
#logo_menu{
    height: 2.5rem;
    & figure{
        height: 2rem;
        margin: auto;
    }
}

#header_menu{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    & .heart, .heart_full{
        margin-top: -3%;
    }
    & .heart_full{
        margin-right: 0.6px;
    }
    .heart{
        margin-right: 0.5px;
    }
}
#menu{
    position: relative;
    bottom: 3rem;
    background-color: $section-color;
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding-bottom: 6rem;
    margin-bottom: -4.2rem;
    & .btn{
        width: 50%;
        margin-bottom: -3rem;
        margin-top: 2rem;
        }
    & h2{
        margin-left: 1rem;
        opacity: 0.7;
        font-size: large;
        font-weight: lighter;
        font-family: 'Roboto-R';
        border-bottom: 4px solid $tertiary-color;
        width: 3rem;
        padding-bottom: 0.6rem;
    }
    & ol{
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: space-between;
        & li{
            max-width: 400px;
            width: 100%;
            padding: 0px 0px 0px 10px;
            background-color: white;
            margin-left: -1.5rem;
            animation: menu_scroll 400ms ease-in;
            animation-fill-mode:both;
            animation-delay: 0.5s;
            &:nth-child(1){
                animation-delay: 100ms;
            }
            &:nth-child(2){
                animation-delay: 250ms;
            }
            &:nth-child(3){
                animation-delay: 400ms;
            }
            & .items{
                width: auto;
                overflow: hidden;
                border-radius: 20px;
                &:hover > .caption > .anima > .check{
                    transform: translateX(0);
                    border-radius: 0 20px 20px 0;
                    transition: transform 600ms, margin 600ms ease-out;
                    margin-left: 2.5rem;
                    & > .check_icon{
                        transform: rotate(360deg);
                        transition: transform 600ms;
                    }
                }
                & h3{
                    margin: 1rem 0 -0.8rem;
                    font-weight: 400;
                    max-width: 90%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                & .check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 20px 20px 0px;
                    margin-top: -1.7rem;
                    background-color: $tertiary-color;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    transform: translateX(105%);
                    transition: transform 400ms;
                    & .check_icon{
                        font-size: larger;
                        padding: 2px 6px;
                        color: $tertiary-color;
                        border-radius: 40px;
                        background-color: white;
                    }
                }
            }
            & .caption{
                display: flex;
                justify-content: space-between;
                text-align: justify;
                & .anima{
                    display: flex;
                    justify-content: flex-end;
                }
                & p:not(.prix){
                    font-family: 'Roboto-S';
                    width: 80%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                & .prix{
                    margin-right: -2rem;
                }
            }
        }
    }
}
